*.swp
.DS_Store
logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/repository
/infer-out
#*
*#
/analysis
/data
report.json
*.iml
/docker/env.list.*
/public/node_modules
/public/dist
/tmp
/bin
**/build
.gradle
